// MIXINS

@mixin opensans-font($path, $name, $style, $weight, $variant) {

    @font-face {
        font-family: '#{$name}';
        font-style: $style;
        font-weight: $weight;
        src: local('Open Sans #{$variant}'),
             local('Open-Sans-#{$variant}'),
             url('#{$path}OpenSans-#{$variant}.woff2') format('woff2'),
             url('#{$path}OpenSans-#{$variant}.woff') format('woff');
    }
}