// VARIABLES

// font name
$opensans-name: 'Open Sans' !default;

// font path
$opensans-path: '../../fonts/' !default;

// font weight
$opensans-weight-extrabold: 800 !default;
$opensans-weight-bold: 700 !default;
$opensans-weight-semibold: 600 !default;
$opensans-weight-normal: 400 !default;
$opensans-weight-light: 300 !default;