##################################
## VISUAL STUDIO
##################################

.vs/

*.suo
*.user

##################################
## NPM
##################################

node_modules/

##################################
## WINDOWS
##################################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

##################################
## MAC OS
##################################

.DS_Store